@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply font-default bg-dark text-neutral;
  }
  input {
    @apply bg-transparent border-2 border-sky border-opacity-20 my-1 px-1 mx-1;
  }
}

@layer components {
  .btn-primary {
    @apply transition ease-in-out delay-75 bg-transparent border border-watermelon hover:-translate-y-1 hover:scale-110 hover:bg-watermelon duration-200 hover:text-dark font-bold px-4 py-2 rounded;
  }
  .btn-secondary {
    @apply transition ease-in-out delay-75 bg-transparent border border-sky hover:-translate-y-1 hover:scale-110 hover:bg-sky duration-200 hover:text-dark font-bold px-4 py-1 rounded;
  }
  .btn-tertiary {
    @apply transition ease-in-out delay-75 bg-transparent border border-carbon hover:-translate-y-1 hover:scale-110 hover:bg-carbon duration-200 hover:text-dark font-bold px-4 py-1 rounded;
  }
}

.maxFontWidth {
  text-align: justify;
}

.maxFontWidth::after {
  content: '';
  display: inline-block;
  width: 100%;
}
